@import "tailwindcss";
@import './darkmode.css';

#upper{
    background-color: var(--upper_bg);
    transition: ease 0.5s;
}

#D-L{
    background-color: var(--darkmode_btn_bg);                               
    transition: ease 0.5s;
}
#D-L svg{
    justify-self: center;
    margin-top:-2.5vh;
    width: 35px;
    fill: var(--darkmode_btn);
}

#upper-child-right p{
    color: var(--front_text);
    transition: ease 0.5s;
}
#upper-child-right h1{

    transition: ease 0.5s;
    background: linear-gradient(to right, rgb(255, 162, 0) , rgb(255, 217, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#upper-child-right button{
    background-color: var(--btn_bg);
    color: var(--btn_text);
    transition: ease 0.5s;
}
#upper-child-right button:hover{
    background-color: var(--btn_hover);
    color: var(--btn_hover_text);
    transition: ease 0.5s;
}
#lower{
    background-color: var(--lower_bg);
    transition: ease 0.5s;
}
#lower h1{
    color: var(--lower_heading);
    transition: ease 0.5s;
}
#all-cards #crd{
    background-color: var(--crds_bg);
    transition: ease 0.5s;
}
#all-cards #crd:hover{
    background-color: var(--crds_hover);
    transition: ease 0.5s;
}
 #all-cards #crd:hover h2{
  color: var(--crds_text);
}
#all-cards #crd:hover p{
    color:var(--crds_text);
}
#social_media svg{
    width: 5vh;
}
