@import "tailwindcss";
@import './darkmode.css';

/* ===================================== [chatbot container] ====================================== */
.chatbot-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* -------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    .chatbot-container {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 480px) {
    .chatbot-container {
        height: 100%;
    }
} 

/* ===================================== [side bar] =============================================== */

@media screen and (max-width: 480px){
  .sidebar_full{
    width: fit-content;
    position: absolute;
    z-index: 999;
    background-color:var(--sidebarfull_R);
  }
  .side{
    margin-left: 0px;
    width:25vh;
  }
  #line{
    width: 100%;
  }
  .new_chat{
    display:none;
  }

  #NEWChat{
    display: flex;
  }
  #NEWChat_p{
    margin-top: 4%;
  }
}

/* ====================================== [main chatbot] =========================================== */

@media screen and (max-width: 768px) {

  .main_container {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 0 0.5rem;
  }
  .nav img{
    width: 5vh;
  }
  .greet {
    max-width: 80%;
  }
  .search_box {
    margin-top:1vh;
    gap: 4vh;
    flex-wrap: wrap;
  }

  .disclaimer {
    margin-left: 1rem;
  }

  .result {
    height: 100%;
  }
  .result_data {
    margin: 0;
  }  
}

@media screen and (max-width: 480px) {
  .bg{
    width:100% ;
    padding-left: 19%;
  }
  .disclaimer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 30%;
    margin-left: -80vh;
    font-size: 10px;
  }

  .main_container {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 0 0.5rem;
  }
  .nav {
    font-size: 1.5rem;
  }
  .G_img{
   margin-left:-4%;
    width: clamp(30px, 5vh, 5px);
  }
  .greet {
    padding: 2%;
    width: fit-content;
    font-size: 100%;
  }
  .main_bottom {
    margin-top: 30rem;

  }
  .search_box {
    display: flex;
    flex-direction: row;
    padding: 1vh;
    width: 34%;
    margin-left: -3.6%;
  }
  .search_box input{
    font-size: 2vh;
  }

  .input-container{
    width: 30%;
  }
  .selected-file{
    z-index: 999;
  }
  .search_icon {
    gap: 2vh;
  }
  .loader{
    width: fit-content;
    height: fit-content;
  }
  .loader img{
    margin-right:40% ;
    width: 70%;
  }
  .preview-pdf {
    height: 300px;
  }
  .user_input{
    padding: 2%;
    font-size: 100%;
    background-color: var(--userinput_R);
  }
  .user_img{
    margin-left: -0.1vh;
    width: 2rem;
    height: 2.5rem;
  }
  .guru_face{
    margin-left: -0.1vh;
    width: 2rem;
    height: 3.5rem;
  }
  .G{
    width: 29%;
    justify-content: start;
  }
  .g_response{
    padding: 4%;
    width: 91%;
  }
  .g_response p{
    font-size: 100%;
  }
  .cards{
    margin: 0px;
  }
   .result {
    height: 100%;
    margin-left: -8vh;
  }
  .result_title {
    width: 100%;
  }

}
